In [14]:
import pandas as pd
from textblob import TextBlob

In [15]:
# Read the CSV file into a pandas DataFrame
training_datafile = pd.read_csv('C:/Users/Rotimi O. Awomodu/Documents/Artificial Intelligence Intern(codeclause)/SentimentAnalysis/sentiment-analysis-movie-reviews/train.tsv', sep='\t', nrows=1000)

# training_datafile = pd.read_csv('C:/Users/Rotimi O. Awomodu/Documents/Artificial Intelligence Intern(codeclause)/SentimentAnalysis/SentimentAnalysisDatasete/train.csv', sep='\t', nrows=1000)

# Display the first 100 rows of the DataFrame
training_datafile.head(10)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
5,6,1,of escapades demonstrating the adage that what...,2
6,7,1,of,2
7,8,1,escapades demonstrating the adage that what is...,2
8,9,1,escapades,2
9,10,1,demonstrating the adage that what is good for ...,2

In [16]:
def addint_senti_datefile(df):
    sentim_tup = []
    
    for x in  range(0, df.shape[0]):
        text_blob_amount = TextBlob(df.iloc[x][2])
        measues_taken = text_blob_amount.sentiment
        sentim_tup.append(measues_taken)
    df['Text Score'] = sentim_tup
    return df

# def get_positive_negative_count(df):
#     positive_count = 0
#     negative_count = 0
#     for x in range(0, df.shape[0]):
#         if df.iloc[x, 2].polarity > 0:
#             positive_count += 1
#         elif df.iloc[x, 2].polarity < 0:
#             negative_count += 1
#     return positive_count, negative_count

In [17]:
addint_senti_datefile(training_datafile)

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_29068\1357283000.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  text_blob_amount = TextBlob(df.iloc[x][2])

,PhraseId,SentenceId,Phrase,Sentiment,Text Score
0,1,1,A series of escapades demonstrating the adage ...,1,"(0.39999999999999997, 0.38125000000000003)"
1,2,1,A series of escapades demonstrating the adage ...,2,"(0.7, 0.6000000000000001)"
2,3,1,A series,2,"(0.0, 0.0)"
3,4,1,A,2,"(0.0, 0.0)"
4,5,1,series,2,"(0.0, 0.0)"
...,...,...,...,...,...
995,996,36,heroes,3,"(0.0, 0.0)"
996,997,36,of horror movies,2,"(0.0, 0.0)"
997,998,36,horror movies,2,"(0.0, 0.0)"
998,999,36,horror,1,"(0.0, 0.0)"
999,1000,36,try to avoid,1,"(0.0, 0.0)"

In [18]:
def add_the_polarty_to_the_df(df):
    polaty_tup = []
    
    for x in  range(0, df.shape[0]):
        text_blob_amount = TextBlob(df.iloc[x][2])
        measues_taken = text_blob_amount.sentiment.polarity
        polaty_tup.append(measues_taken)
    df['Text Polarity'] = polaty_tup
    return df

In [19]:
training_datafile = add_the_polarty_to_the_df(training_datafile)
training_datafile.head()

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_29068\335344103.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  text_blob_amount = TextBlob(df.iloc[x][2])

,PhraseId,SentenceId,Phrase,Sentiment,Text Score,Text Polarity
0,1,1,A series of escapades demonstrating the adage ...,1,"(0.39999999999999997, 0.38125000000000003)",0.4
1,2,1,A series of escapades demonstrating the adage ...,2,"(0.7, 0.6000000000000001)",0.7
2,3,1,A series,2,"(0.0, 0.0)",0.0
3,4,1,A,2,"(0.0, 0.0)",0.0
4,5,1,series,2,"(0.0, 0.0)",0.0

In [20]:
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer as vad
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\Rotimi O.
[nltk_data]     Awomodu\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [21]:
# Read the CSV file into a pandas DataFrame
training_datafile = pd.read_csv('C:/Users/Rotimi O. Awomodu/Documents/Artificial Intelligence Intern(codeclause)/SentimentAnalysis/sentiment-analysis-movie-reviews/train.tsv', sep='\t', nrows=1000)

# training_datafile = pd.read_csv('C:/Users/Rotimi O. Awomodu/Documents/Artificial Intelligence Intern(codeclause)/SentimentAnalysis/SentimentAnalysisDatasete/train.csv', sep='\t', nrows=1000)

# Display the first 100 rows of the DataFrame
training_datafile.head(10)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
5,6,1,of escapades demonstrating the adage that what...,2
6,7,1,of,2
7,8,1,escapades demonstrating the adage that what is...,2
8,9,1,escapades,2
9,10,1,demonstrating the adage that what is good for ...,2

In [22]:
vaderr = training_datafile.copy()
senti = vad()

sennt = ['Positive', 'Neutral', 'Negative', 'Compound']

sentis = [senti.polarity_scores(y) for y in training_datafile['Phrase'].values]

vaderr['Positive Score'] = [y['pos'] for y in sentis]

vaderr['Neutral Score'] = [y['neu'] for y in sentis]

vaderr['Negative Score'] = [y['neg'] for y in sentis]

vaderr['Compound Score'] = [y['neu'] for y in sentis]

scorres = vaderr['Compound Score'].values

tpl = []

for x in scorres:
    if x >= 0.05:
        tpl.append('Positive')
    elif x <= -0.05:
        tpl.append('Negative')
    else:
        tpl.append('Neutral')
        
vaderr['The Total Sentiment'] = tpl

In [23]:
vaderr.head()

,PhraseId,SentenceId,Phrase,Sentiment,Positive Score,Neutral Score,Negative Score,Compound Score,The Total Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1,0.157,0.843,0.0,0.843,Positive
1,2,1,A series of escapades demonstrating the adage ...,2,0.195,0.805,0.0,0.805,Positive
2,3,1,A series,2,0.000,1.000,0.0,1.000,Positive
3,4,1,A,2,0.000,0.000,0.0,0.000,Neutral
4,5,1,series,2,0.000,1.000,0.0,1.000,Positive

In [ ]:
import plotly.h